@charset "utf-8";

/*
 *
 * ===== 標準CSS =====
 *
 */


/* ========================================


    要素のリセット


   ======================================== */


/* --- HTML5 --- */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
  margin: 0;
  padding: 0;
}


/* --- 要素 ---*/

html,
body,
div,
h1,
h2,
h3,
h4,
h5,
p,
blockquote,
ul,
ol,
li,
dl,
dt,
dd,
form {
  margin: 0;
  padding: 0;
}



/* ========================================


    標準スタイル


   ======================================== */

/*
 * --- 文書全体 ---
 */

html {
  overflow-y: scroll;
}

body {
  font-size: 14px;
  text-autospace: ideograph-alpha ideograph-numeric ideograph-parenthesis;
  background-color: #FFFFFF;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/*
 * --- タイトル ---
 */
 h1,h2,h3,h4,h5{
  font-weight:bold;
  margin:0 0 10px 0;
  line-height:150%;
 }

/*
 * --- フォント指定 ---
 */

body,
h1, h2, h3, h4, h5,
input, button, select, textarea {
  font-family: 'メイリオ', Meiryo, 'ヒラギノ角ゴPro W3', 'Hiragino Kaku Gothic Pro', sans-serif;
}


/*
 * --- テキスト ---
 */

p {
  line-height: 1.6;
  margin-bottom: 10px;
  text-align: justify;
  text-justify: inter-ideograph;
}

p:last-child {
}

em,
strong,
dfn,
b,
i,
u {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}

strong,
dfn,
b {
  font-weight: bold;
}

em {
  color: #F03030;
}

strong {
  color: #F00000;
}

dfn {
}

u {
  border-bottom: 1px dashed #A0A0A0;
}



/*
 * --- 画像 ---
 */

img {
  max-width: 100%;
  height: auto;
}



/*
 * --- 区切り ---
 */

hr {
  margin: 10px 0;
}



/*
 * --- リスト ---
 */

ul {
  padding: 1em 0 1em 2em;
}

ol {
  padding-left: 1em 0 1em  2em;
}

li {
  text-align: justify;
  text-justify: inter-ideograph;
}

dt {
  font-weight: normal;
}


/*
 * --- リンク／ボタン ---
 */

a,
button {
  outline: none !important;
  text-decoration: none !important;
  transition: color 0.2s, background-color 0.2s;
}


/*
 * --- フォーム ---
 */

input {
  outline: none;
  -webkit-appearance: none;
}

/* ========================================


    フォーム


   ======================================== */

/*
 * --- フォーム ---
 */

input.form-control,
textarea.form-control {
  -webkit-appearance: none;
}

/* --- IE ×ボタン --- */

input::-ms-clear {
  display: none;
}

/* --- テキストエリア --- */

textarea {
  resize: vertical;
}

/* --- スピンボタンを非表示に --- */

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}




/* ========================================


    Bootstrap コンポーネント


   ======================================== */

/*
 * --- フォント ---
 */

kbd,
.btn,
.tooltip,
.popover {
  font-family: 'メイリオ', Meiryo, 'ヒラギノ角ゴPro W3', 'Hiragino Kaku Gothic Pro', sans-serif;
}


/*
 * --- 要素 ---
 */

kbd {
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #607D8B;
  box-shadow: none;
}



/*
 * --- グリッド ---
 */

.row {
  margin-left: -5px;
  margin-right: -5px;
}

/* --- 詰めてグリッド --- */

.row-tight > [class^='col-'] {
  padding-left: 5px;
  padding-right: 5px;
}



/*
 * --- ボタン ---
 */

.btn {
  box-shadow: 0 2px #D0D0D0;
  margin-bottom: 2px !important;
  white-space: normal;
}

.btn:active {
  box-shadow: none;
  margin-top: 2px !important;
  margin-bottom: 0 !important;
}

.btn-block {
  display: inline-block;
}

.btn:disabled {
  cursor: default;
}

.btn-xs {
  padding-top: 2px;
  padding-bottom: 2px;
}



/*
 * --- ラベル ---
 */

.label {
  display: inline-block;
  font-size: 100%;
  font-weight: normal;
  white-space: normal;
  line-height: 1;
  padding: 6px 15px 5px 15px;
  background-color: #A0A0A0;
  border-radius: 20px;
}


/*
 * --- ツールチップ ---
 */

.tooltip {
  z-index: 20;
}

.tooltip-inner {
  background-color: #4FC1E9;
  padding: 5px 10px;
}

.tooltip.top .tooltip-arrow { border-top-color: #4FC1E9; }
.tooltip.right .tooltip-arrow { border-right-color: #4FC1E9; }
.tooltip.left .tooltip-arrow { border-left-color: #4FC1E9; }
.tooltip.bottom .tooltip-arrow { border-bottom-color: #4FC1E9; }


/*
 * --- ヘルパー ---
 */

/* --- 表示／非表示 --- */

span.visible-xs {
  display: inline !important;
}


/* --- 回り込み --- */

.pull-clear {
  clear: both;
}



/*
 * --- 印刷時の調整 ---
 */

@media print {

  a[href]::after {
    content: '' !important;
  }

  abbr[title]::after {
    content: '' !important;
  }

}




/* ========================================


    そのほかのコンポーネント


   ======================================== */

/*
 * --- アイコン ---
 */

[class^='ti-'] {
  vertical-align: -10%;
}


/*
 * --- アニメーション ---
 */

.animated-slow {
  -webkit-animation-duration: 1.4s;
  -webkit-animation-delay: 0.3s;
  animation-duration: 1.4s;
  animation-delay: 0.3s;
}

.animated-slower {
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 0.5s;
  animation-duration: 2s;
  animation-delay: 0.5s;
}


/*
 * --- カスタムスクロールバー ---
 */

.mCSB_inside > .mCSB_container {
  margin-right: 15px;
}


/*
 * --- Webkitスクロールバー ---
 */

.webkit-scroll-vertical::-webkit-scrollbar {
  width: 6px;
  background-color: #E9E9E9;
}

.webkit-scroll-vertical::-webkit-scrollbar-thumb {
  background-color: #B0B0B0;
  border-radius: 6px;
}

pre{
  background: transparent;
  border:none;
}

/* ========================================


    ページレイアウト


   ======================================== */


/* ----------------------------------------

    全体

   ---------------------------------------- */


/* ----------------------------------------

    ヘッダー

   ---------------------------------------- */


/* ----------------------------------------

    ページの先頭へ

   ---------------------------------------- */


/* ----------------------------------------

    フッター

   ---------------------------------------- */


/* ----------------------------------------

    パンくずリスト

   ---------------------------------------- */


/* ----------------------------------------

    メインコンテンツ（.wiki-contentを囲む#page-content）

   ---------------------------------------- */

/*
 * --- テキスト ---
 */

#page-content strong {
  color: #404040;
}

/*
 * --- 画像 ---
 */


/*=====================================================
    stellarlink 追記分
=======================================================*/ 

/*見出し*/

#header-image {
  font-size: 1em;
  color: #fff;
  border-left: 15px solid #d7063b;
  margin-right: 10px;
  padding-right:25px;
}

h2 {
  border-left: 8px solid #d7063b;
  color: #fffeff;
  background-color: #3D4E56;
  margin-bottom: 7px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 12px 10px 12px 20px;
  text-shadow: #3d4e56 1px 1px 1px;
}

h4 {
  padding-left: 0.3em;
  padding-bottom: 0.1em;
  border-bottom: 1px solid #d7063b;
  border-left: 4.5px solid #d7063b;
}

h5.option00 {
  padding-left: 0.3em;
  padding-bottom: 0.1em;
  border-bottom: 1px solid #3D4E56;
  border-left: 4.5px solid #3D4E56; 
}

h5.option01 {
  margin-top: 20px;
  padding-left: 5px;
  margin-bottom: 10px;
  border-left: 15px solid #d7063b;
  font-weight: bold;
  color: #000;
}
h5.option03 {
  text-align: center;
}
h5.option04 {
  margin-top: 5px;
  padding-left: 5px;
  margin-bottom: 5px;
  border-left: 15px solid #3D4E56;
  font-weight: bold;
  color: #000;
}

h6 {
  font-weight: bold;
}
h6.option01 {
  text-align: center;
}
/*ヘッダー*/
#page-header {
  background-color: #000 !important;
}

/*サイドメニュー*/
.nav-breadcrumb {
  background-color: #F6F6F6 !important;
  border-color: #D0D0D0 !important;
}

.nav-menu-list {
}

.nav-menu-list a:after {
  color: #d7063b !important;
}

.nav-menu-list > li > ul > ul {
  padding-left: 2em !important;
}

li .expanded {
  background-color: #f6f6f6 !important;
}

#page-menu .nav-menu-list li a.active {
  background-color: rgba(215, 6, 59, 0.2) !important;
  white-space: nowrap;
}

.wiki-content a:link {
  color: #d7063b !important;
}

.wiki-content a:link:visited {
  color: #d7063b !important;
}

.wiki-content a:link:hover {
  color: #3d4e56 !important;
}
.to-page-top a, .nav-sequence .available  {
  color: #fff !important;
  background-color: #000 !important;
}

nav a {
  color: #3d4e56 !important;
  text-decoration: underline;
}

nav a:hover {
  color: #d7063b !important;
  text-decoration: underline;
}

/*20170303_KOD追記*/
main a{
 color: #d7063b !important;
 text-decoration: underline;
 }
main  a:hover{
 color: #3d4e56 !important;
 text-decoration: underline;
 }




/*箇条書き*/
#page-content ol > li {
  padding-left: 1.5em !important;
}

#page-content ol > li:before {
  content: counter(numberList)"." !important;
  color: #000 !important;
  background: none !important;
  font-family: 'メイリオ', Meiryo, 'ヒラギノ角ゴPro W3', 'Hiragino Kaku Gothic Pro', sans-serif !important;
  font-style: normal !important;
}

#page-content ol > li > ol > li:before {
  content: counter(numberList, lower-alpha)"." !important;
  color: #000 !important;
  background: none !important;
  font-family: 'メイリオ', Meiryo, 'ヒラギノ角ゴPro W3', 'Hiragino Kaku Gothic Pro', sans-serif !important;
  font-style: normal !important;
}

#page-content ol > li > ol > li > ol > li:before {
  content: counter(numberList, lower-roman)"." !important;
  color: #000 !important;
  background: none !important;
  font-family: 'メイリオ', Meiryo, 'ヒラギノ角ゴPro W3', 'Hiragino Kaku Gothic Pro', sans-serif !important;
  font-style: normal !important;
}


.wiki-content ul li {
 list-style-type: none !important;
}

.wiki-content ul li:before {
  color: #3d4e56;
  content: "● ";
  position: absolute;
  display: inline-block;
  padding: 1px 5px;
  text-align: center;
  margin-left: -23px;
}

.wiki-content ul li > p ,
.wiki-content ul li > h5 ,
.wiki-content ul li > h6 ,
.wiki-content ul li > div > div > pre,
.wiki-content ul li > div > div.panelHeader,
.wiki-content ul li > div > div.panelContent,
.wiki-content ul li > div > div > p,
.wiki-content ul li > div > div > div > div > p
{
  text-indent: 0 !important;
}

.nav-menu-list li:before {
}

/*マクロ*/
.confluence-information-macro-tip, .confluence-information-macro-information {
  background-color: #fff !important;
  padding: 0 12px 7px !important;
  margin-top: 15px !important;
  margin-bottom: 10px !important;
  border: 1px solid #3d4e56 !important;
  border-top-right-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  -webkit-border-top-right-radius: 5px !important;
  -webkit-border-bottom-left-radius: 5px !important;
  -webkit-border-bottom-right-radius: 5px !important;
  -moz-border-radius-topright: 5px !important;
  -moz-border-radius-bottomleft: 5px !important;
  -moz-border-radius-bottomright: 5px !important;
}

div.confluence-information-macro-tip:before {
  content: "ヒント" !important;
  color: #fff;
  font-size: 10px;
  line-height: 10px;
  font-weight: bold;
  background-color: #3D4E56;
  margin: 0 0 8px -12px;
  padding: 3px 5px;
  text-align: center;
  width: 40px;
}

div.confluence-information-macro-information:before {
  content: "補足" !important;
  color: #fff;
  font-size: 10px;
  line-height: 10px;
  font-weight: bold;
  background-color: #3D4E56;
  margin: 0 0 8px -12px;
  padding: 3px 5px;
  text-align: center;
  width: 40px;
}

.confluence-information-macro-note {
  background-color: #fff !important;
  padding: 0 12px 7px !important;
  margin-top: 15px !important;
  margin-bottom: 10px !important;
  border: 1px solid #d7063b !important;
  border-top-right-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  -webkit-border-top-right-radius: 5px !important;
  -webkit-border-bottom-left-radius: 5px !important;
  -webkit-border-bottom-right-radius: 5px !important;
  -moz-border-radius-topright: 5px !important;
  -moz-border-radius-bottomleft: 5px !important;
  -moz-border-radius-bottomright: 5px !important;
}

div.confluence-information-macro-note:before {
  content: "注意" !important;
  color: #fff;
  font-size: 10px;
  line-height: 10px;
  font-weight: bold;
  background-color: #d7063b;
  margin: 0 0 8px -12px;
  padding: 3px 5px;
  text-align: center;
  width: 40px;
}

.confluence-information-macro-note li:before {
  color: #d7063b !important;
}

.confluence-information-macro-warning {
  color: #d7063b;
  background-color: #FBE6EB !important;
  padding: 0 12px 7px !important;
  margin-top: 15px !important;
  margin-bottom: 10px !important;
  border: 1px solid #d7063b !important;
  border-top-right-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  -webkit-border-top-right-radius: 5px !important;
  -webkit-border-bottom-left-radius: 5px !important;
  -webkit-border-bottom-right-radius: 5px !important;
  -moz-border-radius-topright: 5px !important;
  -moz-border-radius-bottomleft: 5px !important;
  -moz-border-radius-bottomright: 5px !important;
}

div.confluence-information-macro-warning:before {
  content: "警告" !important;
  color: #fff;
  font-size: 10px;
  line-height: 10px;
  font-weight: bold;
  background-color: #d7063b;
  margin: 0 0 8px -12px;
  padding: 3px 5px;
  text-align: center;
  width: 40px;
}

.confluence-information-macro-warning li:before {
  color: #d7063b !important;
}

/*テーブル*/
table.confluenceTable {
  margin-top: 10px !important;
}

th.confluenceTh {
  text-align: center;
  background-color: #D2D6D8 !important;
  padding: 3px 7px !important;
  border:  1px solid #3D4E56 !important;
  line-height: 1.4 !important;
  text-indent: 0 !important;
}

td.confluenceTd {
  padding: 3px 7px !important;
  border:  1px solid #3D4E56 !important;
  line-height: 1.5 !important;
  text-indent: 0 !important;
}

/*コードブロック*/
pre {
  color: #fff;
  background-color: #345672;
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  font-weight: normal !important;
}

.code.panel.pdl, .preformatted.panel {
  border: none !important;
  background-color: #fff !important;
}

/*画像*/
.wiki-content img {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.wiki-content .confluence-content-image-border {
  border: 1px solid #000 !important;
}

/*子ページへのリンク*/
.related-links ul.ullinks {
  padding: 1em 0 1em 0em !important;
}

li.link.ulchildlink {
  padding-left: 25px !important;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  background-color: rgba(215, 6, 59, 0.2);
  border-left: 8px solid rgba(215, 6, 59, 0.6);
  margin-bottom: 5px !important;
}

li.link.ulchildlink a {
  color: #3d4e56 !important;
}

li.link.ulchildlink a:hover {
  color:#d7063b !important;
}

li.link.ulchildlink:hover {
  border-left: 8px solid #d7063b;
}

 
li.link.ulchildlink:before {
  content: "" !important;
}
/*add 20170301*/
/*tnote,tmemo*/
div.tnote {
  padding: 5px;
  margin-top:  10px;
  margin-bottom: 10px;
  border: 1px solid #b73100;
}

div.tmemo {
  padding: 5px;
  margin-top:  10px;
  margin-bottom: 10px;
  border: 1px solid #61b600;
}

/*フッター*/
#footer {
  font-size: 80%;
  padding-right: 10px;
  padding-top: 5px;
  text-align: right;
  color: #fff;
  height: 25px;
  width: 100%;
  background: #000;
  position: fixed;
  bottom: 0;
  z-index: 99;
}

#footer a {
  color: #fff !important;
  text-decoration: underline !important;
}

#footer a:hover {
  color: #d7063b !important;
}

/*ページシーケンス*/
#page-sequence {
}

/*メニュー開閉*/
#page-menu .nav-menu-list > li.group > a.expand-angle {
  float: right;
  font-size: 12px;
  padding: 4px 5px 3px 5px !important;
  text-align: right;
  width: 10%;
  height: 25px;
  line-height: 140% !important;
  z-index: 10;
  border-bottom: none;
  background-color: rgba(0, 0, 0, 0) !important;
}

/* - eof. */

