@charset "utf-8";

@font-face {
    font-family: 'WebHostingHub-Glyphs';
    src: url('../lib/web-font/whhg-font/font/webhostinghub-glyphs.eot');
    src: url('../lib/web-font/whhg-font/font/webhostinghub-glyphs.eot?#iefix') format('embedded-opentype'),
         url('../lib/web-font/whhg-font/font/webhostinghub-glyphs.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    -moz-font-feature-settings: "calt=0,liga=0";
}
/*
 *
 * ===== テーマCSS [Classic] =====
 *
 */


/* ========================================


    そのほかのコンポーネント


   ======================================== */

/*
 * --- カスタムスクロールバー ---
 */

.mCSB_inside > .mCSB_container {
  margin-right: 0;
  margin-left: 15px;
}

.mCS_no_scrollbar .mCSB_container,
.mCS_no_scrollbar_y {
  margin-left: 0 !important;
}

.mCSB_scrollTools {
  right: auto;
  left: 0;
}



/* ========================================


    ページレイアウト


   ======================================== */

/* ----------------------------------------

    全体

   ---------------------------------------- */


/* ----------------------------------------

    ヘッダー

   ---------------------------------------- */

/*
 * --- ヘッダー ---
 */

#page-header {
  position: fixed;
  width: 100%;
  min-height: 50px;
  z-index: 20;
  background-color: #0072BB;
}

.status-pinch-out #page-header {
  display: none !important;
}


/*
 * --- ヘッダー画像 ---
 */

#header-image {
  padding-left: 20px;
  padding-top: 12px;
  min-height: 40px;
}

#header-image img {
  max-height: 26px;
}


/*
 * --- ヘッダーボタン（XS） ---
 */

#header-button {
  position: absolute;
  top: 4px;
  left: 8px;
}

#header-button a {
  display: block;
  width: 40px;
  height: 32px;
  padding-top: 5px;
  line-height: 1;
  text-align: center;
  font-size: 20px;
  background-color: #FFFFFF;
  border-radius: 4px;
}

#header-button a::after {
  content: '\e64a';
  font-family: 'themify';
}

.status-menu-closed #header-button a::after {
  content: '\e68e';
}

#header-button a:hover {
  background-color: #F6FCFF;
}


/* --- XSサイズ --- */
@media screen and (min-width: 1px) and (max-width: 767px) {

  #page-header {
    min-height: 40px;
  }

  #header-image {
    padding-top: 12px;
    padding-left: 40px;
    width: 75%;
  }

  #header-image img {
    max-height: 22px;
  }

}



/* ----------------------------------------

    検索

   ---------------------------------------- */

/*
 * --- 検索エリア ---
 */

#page-search {
  position: absolute;
  top: 12px;
  right: 10px;
}


/*
 * --- 検索ボックス ---
 */

#page-search form {
padding: 0 0 0 15px;
}


#page-search input {
  max-width: 250px;
  min-height: 20px;
  padding: 2px 40px 0 15px;
  font-size: 14px;
  background-color: #FFFFFF;
  border: none;
  border-radius: 20px;
  transition: background-color 0.3s;
}

.status-menu-closed #page-search input {
}

.status-menu-closed #page-search {
  position:absolute;
  right:10px;
}

#page-search input:focus {
  background-color: #FFFFE0;
}

/* --- プレースフォルダー（[,]で連結すると適用されません） --- */
#page-search input:-ms-input-placeholder { color: #B0B0B0; }
#page-search input::-webkit-input-placeholder { color: #B0B0B0; }
#page-search input::-moz-placeholder { color: #B0B0B0; }



/*
 * --- 検索ボタン ---
 */

#page-search button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1px 8px;
  font-size: 16px;
  border: none;
  background: none;
  color: #606060;
}

#page-search button:hover {
  color: #42A5F5;
}

/* --- XSサイズ --- */
@media screen and (min-width: 1px) and (max-width: 767px) {

  #page-search {
    right: 10px;
  }

  #page-search input {
    max-width: 120px;
  }

}



/* ----------------------------------------

    メニュー

   ---------------------------------------- */

#page-menu,
#nav-menu-bg {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  padding-top: 68px;
  transition: left 0.5s;
}

#page-menu {
  width: 280px;
  max-width: 95vw;
  z-index: 10;
}

.status-menu-closed #page-menu {
  display: none;
  left: -280px;
}

#nav-menu-bg {
  width: 271px;
  border-right: 1px solid #D0D0D0;
  background-color: #FCFCFC;
}

.status-menu-closed #nav-menu-bg {
  left: -280px;
}

.status-menu-closed #page-sequence {
}

/*
 * --- メニューヘッダー ---
 */

#nav-menu-header {
  position: relative;
  min-height: 25px;
  padding: 3px 8px;
  background-color: #E9E9E9;
}

.status-menu-closed #nav-menu-header {
  margin-right: -60px;
  z-index: 10;
}
/* --- アイコン ---  */
#page-menu .nav-menu-list .icon {
  position: absolute;
  display: inline-block;
}

#page-menu .nav-menu-list .group > .icon {
  cursor: pointer;
}

#page-menu .nav-menu-list .group > .icon::before {
  font-family: 'WebHostingHub-Glyphs';
  content: "\f571";
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 0px 5px;
  font-size: 14px;
  color: #888;
}

#page-menu .nav-menu-list .group.expanded > .icon::before {
  font-family: 'WebHostingHub-Glyphs';
  content: '\f572';
  color: #888;
}

#page-menu .nav-menu-list .nogroup > .icon::before {
  font-family: 'WebHostingHub-Glyphs';
  content: '\f185';
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 2px 5px 4px 7px;
  font-size: 10px;
  color: #888;
  transform: scale(0.6);
}

/* --- XSサイズ --- */
@media screen and (min-width: 1px) and (max-width: 767px) {

  #page-menu {
    padding-top: 50px;
  }

  #nav-menu-header {
    display: none;
  }

}


/* --- パネルの開閉 --- */

#nav-menu-header .btn-view-switch {
  display: inline-block;
  position: relative;
  font-size: 11px;
  padding-left: 15px;
  padding-top: 1px;
}

#nav-menu-header .btn-view-switch::before {
  content: '\e65e';
  font-family: 'themify';
  position: absolute;
  left: 0;
  top: 0;
}

#nav-menu-header .btn-view-switch::after {
  content: '閉じる';
}

.status-menu-closed #nav-menu-header .btn-view-switch {
  position: absolute;
  top: 4px;
  right: 10px;
}

.status-menu-closed #nav-menu-header .btn-view-switch {
  padding-left: 0;
  padding-right: 15px;
}

.status-menu-closed #nav-menu-header .btn-view-switch::before {
  content: '\e65d';
  left: auto;
  right: 0;
}

.status-menu-closed #nav-menu-header .btn-view-switch::after {
  content: '開く';
}


/* --- すべてを開く --- */

#nav-menu-header .btn-expand-menu {
  position: absolute;
  top: 4px;
  right: 10px;
  font-size: 11px;
}

.status-menu-closed #nav-menu-header .btn-expand-menu {
  display: none;
}

#nav-menu-header .btn-expand-menu::after {
}

#nav-menu-header .btn-expand-menu:hover {
}


/*
 * --- メニューコンテンツ ---
 */

#page-menu nav {
}

#page-menu .nav-menu-container {
  border-left: solid 6px #000;
  background-color: #F6F6F6;
}

#page-menu .nav-menu-content {
  overflow-y: auto;
  font-size: 13px;
}

/* --- メニューリスト --- */

#page-menu .nav-menu-list {
  padding: 0px 0px 10px 0px ;
}

#page-menu .nav-menu-list ul {
  padding: 0;
}

#page-menu .nav-menu-list li {
  position: relative;
  list-style: none;
  padding: 10px 2px 0px 0;
}

#page-menu .nav-menu-list a {
  margin-left: 25px;
  padding: 4px 5px 3px 10px;
  color: #606060;
  white-space: nowrap;
}


#page-menu .nav-menu-list li.expanded {
}

#page-menu .nav-menu-list li.active {
  position: relative;
}

#page-menu .nav-menu-list li.active::after {
  content: '';
  position: absolute;
  top: 25%;
  left: 100%;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-left-color: #29B6F6;
}


#page-menu .nav-menu-list li.active a {
  background-color: #29B6F6;
}

#page-menu .nav-menu-list > li > a {
  background-color: #F6F6F6;
}

/*#page-menu .nav-menu-list > li.group > a::after {
  content: '\e649';
  font-family: 'themify';
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 12px;
  color: #29B6F6;
}*/



#page-menu .nav-menu-list > li ul {
  display: none;
}
#page-menu .nav-menu-list li.expanded ul {
  margin-left: 20px;
  margin-right: 5px;
  padding: 0;
}
#page-menu .nav-menu-list > li li a {
}

#page-menu .nav-menu-list a:hover {
  background-color: #E0F7FA !important;
}

/* ----------------------------------------

    ページの移動ナビゲーション

   ---------------------------------------- */

#page-relation {
}

/*
 * --- パンくずリスト ---
 */

.nav-breadcrumb {
  margin: 0;
  padding: 7px 10px 6px;
  background-color: #F6F6F6;
  border-bottom: 1px solid #D0D0D0;
}

.nav-breadcrumb > ol {
  overflow: hidden;
  padding: 0;
  list-style: none;
}

.nav-breadcrumb > ol li {
  float: left;
  font-size: 12px;
  line-height: 1;
}

.nav-breadcrumb > ol li a {
  display: inline-block;
  padding: 1px 10px;
  border-radius: 10px;
}

.nav-breadcrumb > ol li a:hover {
  color: #2196F3;
}

.nav-breadcrumb > ol li a:active {
  color: #03A9F4;
}

/* --- やじるし --- */

.nav-breadcrumb > ol li::before,
.nav-breadcrumb > ol li:first-child a::before {
  font-family: 'themify';
}

.nav-breadcrumb > ol li::before {
  content: '\e649';
  font-size: 9px;
  color: #C0C0C0;
}

/* --- ホーム --- */

.nav-breadcrumb > ol li:first-child::before {
  display: none;
}

.nav-breadcrumb > ol li:first-child a::before {
  content: '\e69b';
  padding-right: 5px;
  vertical-align: top;
}

/* --- 現在地 --- */

.nav-breadcrumb > ol li:last-child::before {
  padding-right: 10px;
}

/* --- XSサイズ --- */
@media screen and (min-width: 1px) and (max-width: 767px) {
  #page-content {
    margin-left: 10px !important;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
  #page-relation {
    display: none;
  }

}


/*
 * --- ページシーケンス ---
 */

#page-sequence {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-left: 280px;
  text-align: center;
}

.status-menu-closed #page-sequence {
  padding-left: 0;
}

.status-scroll-up #page-sequence {
  bottom: -60px;
}

.nav-sequence {
  padding: 15px 0 10px 0;
  background-color: rgba(0,0,0,0.05);
  opacity: 0.7;
  transition: opacity 0.3s;
}

.nav-sequence:hover {
  opacity: 1;
}

.nav-sequence a {
  display: inline-block;
  margin-bottom: 5px;
  padding-top: 7px;
  padding-bottom: 6px;
  line-height: 1;
  font-size: 12px;
  color: #FFFFFF;
  background-color: #42A5F5;
  border-radius: 20px;
}

.nav-sequence a.available:hover {
  background-color: #2196F3;
}

.nav-sequence a.available:active {
  background-color: #03A9F4;
}

.nav-sequence a:first-child {
  margin-right: 5px;
  padding-left: 10px;
  padding-right: 15px;
}

.nav-sequence a:last-child {
  margin-left: 5px;
  padding-left: 15px;
  padding-right: 10px;
}

.nav-sequence a:first-child::before,
.nav-sequence a:last-child::after {
  font-family: 'themify';
  font-size: 12px;
  vertical-align: -1px;
}

.nav-sequence a:first-child::before {
  content: '\e64a';
  margin-right: 5px;
}

.nav-sequence a:last-child::after {
  content: '\e649';
  margin-left: 5px;
}

.nav-sequence a.unavailable {
  background-color: #E0E0E0;
}

/* --- XSサイズ --- */
@media screen and (min-width: 1px) and (max-width: 767px) {
 #page-menu {
   width: auto !important;
 }

 #page-sequence {
    top: 40px;
    bottom: auto;
    padding-left: 0 !important;
  }

  .status-scroll-down #page-sequence {
    top: -20px;
  }

  .nav-sequence {
    padding: 10px 0 5px 0;
    opacity: 1;
    background-color: #F0F0F0;
  }

  .nav-sequence a {
    padding-top: 5px;
    padding-bottom: 4px;
    font-size: 11px;
  }

  .nav-sequence a:first-child {
    padding-right: 8px;
  }
}



/* ----------------------------------------

    フッター

   ---------------------------------------- */

/*
 * --- フッター ---
 */

#page-footer {
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px dashed #E0E0E0;
}


/*
 * --- ページの先頭へ ---
 */

#page-footer .to-page-top {
  text-align: right;
}

#page-footer .to-page-top a {
  padding: 3px 10px;
  font-size: 10px;
  color: #FFFFFF;
  background-color: #42A5F5;
  border-radius: 20px;
  position: relative;
  z-index: 2;
}

#page-footer .to-page-top a::before {
  content: '\e660';
  font-family: 'themify';
  margin-right: 5px;
  font-size: 12px;
  vertical-align: bottom;
}

#page-footer .to-page-top a:hover {
  background-color: #2196F3;
}

#page-footer .to-page-top a:active {
  background-color: #03A9F4;
}


/* ----------------------------------------

    メインコンテンツ（.wiki-contentを囲む#page-content）

   ---------------------------------------- */

/*
 * --- 本文 ---
 */

#page-content {
  position: relative;
  margin-left: 300px;
  padding: 110px 60px 80px 60px;
}

.status-menu-closed #page-content {
  margin-left: 0;
}

/* --- XSサイズ --- */
@media screen and (min-width: 1px) and (max-width: 767px) {

  #page-content {
    margin-left: 0;
    padding: 130px 20px 20px 20px;
  }

}


/*
 * --- 見出し ---
 */

#page-content h2 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}


/*
 * --- 箇条書き ---
 */

#page-content ol {
  list-style: none;
  counter-reset: numberList;
  margin: 20px 0 20px 0;
  padding: 0;
}

#page-content ol > li {
  position: relative;
  padding-left: 3em;
  margin: 8px 0;
}

#page-content ol > li:before {
  content: counter(numberList);
  counter-increment: numberList;
  position: absolute;
  left: 0;
  width: 1.6em;
  height: 1.6em;
  line-height: 1.6;
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
  font-style: italic;
  color: #FFFFFF;
  background: #3498E8;
  border-radius: 1em;
}

/* --- XSサイズ --- */
@media screen and (min-width: 1px) and (max-width: 767px) {

  #page-content ol > li {
    padding-left: 0;
    padding-top: 1em;
  }

  #page-content ol > li:before {
  }

}


/* - eof. */
