@charset "utf-8";

@font-face {
    font-family: 'WebHostingHub-Glyphs';
    src: url('../lib/web-font/whhg-font/font/webhostinghub-glyphs.eot');
    src: url('../lib/web-font/whhg-font/font/webhostinghub-glyphs.eot?#iefix') format('embedded-opentype'),
         url('../lib/web-font/whhg-font/font/webhostinghub-glyphs.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    -moz-font-feature-settings: "calt=0,liga=0";
}
/*
 *
 * ===== テーマCSS [Urban] =====
 *
 */


/* ========================================


    そのほかのコンポーネント


   ======================================== */



/* ========================================


    ページレイアウト


   ======================================== */

/* ----------------------------------------

    全体

   ---------------------------------------- */

body {
  background-color: #F5F5F5;
}

/* ----------------------------------------

    ヘッダー

   ---------------------------------------- */

/*
 * --- ヘッダー ---
 */

#page-header {
  position: fixed;
  width: 100%;
  min-height: 40px;
  top: 0;
  left: 0;
  background-color: #2F363E;
  z-index: 10;
}

.status-pinch-out #page-header {
  display: none !important;
}


/*
 * --- ヘッダー画像 ---
 */

#header-image {
  margin: 8px 0 0 20px;
}

#header-image img {
  max-height: 32px;
}


/*
 * --- ヘッダーボタン（XS） ---
 */

#header-button {
  position: absolute;
  top: 8px;
  left: 8px;
}

#header-button a {
  display: block;
  width: 31px;
  height: 20px;
  padding-top: 3.3px;
  line-height: 1;
  text-align: center;
  font-size: 20px;
  color: #2F363E;
  background-color: #FFFFFF;
  border-radius: 16px;
}

#header-button a::after {
  content: '\e117';
  font-family: 'Metrize-Icons';
}

.status-menu-closed #header-button a::after {
  content: '\e0f5';
}

#header-button a:hover {
  background-color: #FFFFC0;
}


/* --- XSサイズ --- */
@media screen and (min-width: 1px) and (max-width: 767px) {

  #header-image {
    margin-left: 50px;
    width: 60%;
  }

  #header-image img {
    max-height: 22px;
  }

}


/* ----------------------------------------

    検索

   ---------------------------------------- */

/*
 * --- 検索エリア ---
 */

#page-search {
  position: absolute;
  top: 7px;
  right: 10px;
  font-size: 12px;
}


/*
 * --- 検索ボックス ---
 */

#page-search form {
}

#page-search input {
  max-width: 250px;
  min-height: 20px;
  padding: 2px 40px 1px 15px;
  font-size: 14px;
  background-color: #FFFFFF;
  border: none;
  border-radius: 16px;
  transition: background-color 0.3s;
}

.status-menu-closed #page-search {
  position:absolute;
  right:10px;
}

#page-search input:focus {
  background-color: #FFFFE6;
}

/* --- プレースフォルダー（[,]で連結すると適用されません） --- */
#page-search input:-ms-input-placeholder { color: #B0B0B0; }
#page-search input::-webkit-input-placeholder { color: #B0B0B0; }
#page-search input::-moz-placeholder { color: #B0B0B0; }



/*
 * --- 検索ボタン ---
 */

#page-search button {
  position: absolute;
  top: -1px;
  right: -5px;
  padding: 1px 8px;
  font-size: 20px;
  border: none;
  background: none;
  color: #2F363E;
}

#page-search button:hover {
  color: #FF9100;
}

/* --- XSサイズ --- */
@media screen and (min-width: 1px) and (max-width: 767px) {

  #page-search {
    right: 10px;
  }

  #page-search input {
    float: right;
    max-width: 160px;
    min-width: 100px
  }

}


/* ----------------------------------------

    メニュー

   ---------------------------------------- */

#page-menu {
  position: fixed;
  float: left;
  left: 0;
  top: 40px;
  width: 280px;
  max-width: 95vw;
  height: 100vh;
  background-color: #E9E9E9;
  z-index: 10;
}

.status-menu-closed #page-menu {
  display: none;
}


/*
 * --- メニューヘッダー ---
 */

#nav-menu-header {
  position: absolute;
  top: 5px;
  right: 25px;
  transition: right 0.5s;
}

.status-menu-closed #nav-menu-header  {
  right: -30px;
}

#nav-menu-header a {
  margin-left: 5px;
  font-size: 24px;
  color: #2F363E;
}

#nav-menu-header a:hover {
  color: #FF9100;
}

#nav-menu-header a:active {
  color: #E08000;
}

/* --- パネルの開閉 --- */

#nav-menu-header .btn-view-switch {
  display: none;
}

/* --- すべてを開く --- */

#nav-menu-header .btn-expand-menu {
}


/* --- XSサイズ --- */
@media screen and (min-width: 1px) and (max-width: 767px) {

  #nav-menu-header {
    display: none;
  }
  #nav-menu-header .btn-view-switch {
    display: block;
  }

}


/*
 * --- メニューコンテンツ ---
 */

#page-menu nav {
  margin-top: 35px;
}

#page-menu .nav-menu-container {
  display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
flex-direction: column;
-webkit-box-direction: normal;
-webkit-box-orient: vertical;
-ms-flex-direction: column;
-webkit-flex-direction: column;
flex: 1 1 100%;
-ms-flex: 1 1 100%;
-webkit-flex: 1 1 100%;
overflow: hidden;
position: relative;
}

#page-menu .nav-menu-content {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    transition: padding 220ms;
    -webkit-transition: padding 220ms;
    padding: 0px 16px 8px 0px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

#page-menu .nav-menu-content ul {
  padding: 0px 8px 10px 8px;
}

/* --- メニューリスト --- */

#page-menu .nav-menu-list {
}

#page-menu .nav-menu-list li {
  position: relative;
  list-style: none;
  margin-bottom: 0px;
  padding: 5px 2px 0px 0;
}

#page-menu .nav-menu-list a {
  margin-left:25px;
  padding: 1px 5px 1px 5px;
  color: #404040;
  white-space: nowrap;
}

#page-menu .nav-menu-list a:hover {
  color: #00abeb;
  background-color: #D0D9E0;
  border-radius: 5px;
}

#page-menu .nav-menu-list li.active a {
  color: #FFFFFF !important;
  background-color: #FF9100 !important;
  border-radius: 4px;
}
#page-menu .nav-menu-list li a.active {
  color: #FFFFFF !important;
  background-color: #FF9100 !important;
  border-radius: 4px;
}

#page-menu .nav-menu-list li.group {
}

#page-menu .nav-menu-list li.expanded a {
  color: #404040;
  white-space: nowrap;
}

#page-menu .nav-menu-list li.expanded a:hover {
  color: #00abeb;
  background-color: #546E7A;
}

#page-menu .nav-menu-list li.expanded ul {
  margin-left: 20px;
  margin-right: 5px;
  padding: 0;
}

#page-menu .nav-menu-list > li ul {
  display: none;
}

/* --- アイコン ---  */
#page-menu .nav-menu-list .icon {
  position: absolute;
  display: inline-block;
}

#page-menu .nav-menu-list .group > .icon {
  cursor: pointer;
}

#page-menu .nav-menu-list .group > .icon::before {
  font-family: 'WebHostingHub-Glyphs';
  content: "\f571";
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 0px 5px;
  font-size: 14px;
  color: #888;
}

#page-menu .nav-menu-list .group.expanded > .icon::before {
  font-family: 'WebHostingHub-Glyphs';
  content: '\f572';
  color: #888;
}

#page-menu .nav-menu-list .nogroup > .icon::before {
  font-family: 'WebHostingHub-Glyphs';
  content: '\f185';
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 3px 3px 4px 8px;
  font-size: 10px;
  color: #888;
  transform: scale(0.6);
}

/* --- XSサイズ --- */
@media screen and (min-width: 1px) and (max-width: 767px) {
  #page-sequence {
    padding-left: 0px !important;
  }
  #page-menu {
    width: auto !important;
  }
  #page-menu .nav-menu-container {
  }
  #page-menu nav {
    margin-top: 0px;
  }
}


/* ----------------------------------------

    ページの移動ナビゲーション

   ---------------------------------------- */

#page-relation {
  padding-top: 34px;
  margin-left: 300px;
}

.status-menu-closed #page-relation {
  margin-left: 20px;
}


/*
 * --- パンくずリスト ---
 */

.nav-breadcrumb {
  margin: 5px 0 5px 10px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.nav-breadcrumb > ol {
  overflow: hidden;
  padding: 0;
  list-style: none;
}

.nav-breadcrumb > ol li {
  float: left;
  font-size: 12px;
  line-height: 1;
}

.nav-breadcrumb > ol li a {
  display: inline-block;
  padding: 1px 10px;
  color: #2F363E;
  border-radius: 10px;
}

.nav-breadcrumb > ol li a:hover {
  color: #FF9100;
}

.nav-breadcrumb > ol li a:active {
  color: #E08000;
}

/* --- やじるし --- */

.nav-breadcrumb > ol li::after {
  content: '/';
  color: #C0C0C0;
}

.nav-breadcrumb > ol li:last-child::after {
  display: none;
}


/* --- ホーム --- */

.nav-breadcrumb > ol li:first-child a::before {
  font-family: 'Glyphicons Halflings';
  content: '\e021';
  padding-right: 5px;
  vertical-align: top;
}

/* --- 現在地 --- */

/* --- XSサイズ --- */
@media screen and (min-width: 1px) and (max-width: 767px) {

   #page-relation,
  .status-menu-closed #page-relation {
    margin-left: 0;
  }

}



/*
 * --- ページシーケンス --- ステラリンク追記
 */
#page-sequence {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-left: 280px;
  text-align: center;
}

.status-menu-closed #page-sequence {
  padding-left: 0;
}

.status-scroll-up #page-sequence {
  bottom: -60px;
}

.nav-sequence {
  padding: 15px 0 10px 0;
  background-color: rgba(0,0,0,0.1);
  opacity: 0.7;
  transition: opacity 0.3s;
}

.nav-sequence:hover {
  opacity: 1;
}

.nav-sequence a {
  display: inline-block;
  margin-bottom: 5px;
  padding-top: 7px;
  padding-bottom: 6px;
  line-height: 1;
  font-size: 12px;
  color: #FFFFFF;
  background-color: #546E7A;
  border-radius: 20px;
}

.nav-sequence a.available:hover {
  background-color: #FF9100;
}

.nav-sequence a.available:active {
  background-color: #ff6100;
}

.nav-sequence a:first-child {
  margin-right: 5px;
  padding-left: 10px;
  padding-right: 15px;
}

.nav-sequence a:last-child {
  margin-left: 5px;
  padding-left: 15px;
  padding-right: 10px;
}

.nav-sequence a:first-child::before,
.nav-sequence a:last-child::after {
  font-family: 'Metrize-Icons';
  font-size: 21px;
  vertical-align: -1px;
}

.nav-sequence a:first-child::before {
  content: '\e112';
  margin-right: 5px;
}

.nav-sequence a:last-child::after {
  content: '\e104';
  margin-left: 5px;
}

.nav-sequence a.unavailable {
  background-color: #E0E0E0;
}

/*
 * --- ページシーケンス ---
 */

/* #page-sequence {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-left: 270px;
  text-align: center;
  transition: bottom 0.5s, padding-left 0.5s;
}

.nav-sequence {
  padding: 15px 0 10px 0;
  background-color: rgba(0,0,0,0.05);
  opacity: 0.7;
  transition: opacity 0.3s;
}

.nav-sequence {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 40px;
  background-color: #546E7A;
}

.nav-sequence a {
  position: absolute;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 9px;
  line-height: 1;
  font-size: 12px;
  color: #FFFFFF;
}

.nav-sequence a.available:hover {
  background-color: #FF9100;
}

.nav-sequence a.available:active {
  background-color: #E08000;
}

.nav-sequence a:first-child {
  left: 0;
  padding-left: 10px;
  padding-right: 15px;
}

.nav-sequence a:last-child {
  right: 0;
  padding-left: 15px;
  padding-right: 10px;
}

.nav-sequence a:first-child::before,
.nav-sequence a:last-child::after {
  font-family: 'Metrize-Icons';
  font-size: 21px;
  vertical-align: middle;
}

.nav-sequence a:first-child::before {
  content: '\e112';
  margin-right: 5px;
}

.nav-sequence a:last-child::after {
  content: '\e104';
  margin-left: 5px;
}

.nav-sequence a.unavailable {
  background-color: #E0E0E0;
}*/

/* --- XSサイズ --- */
@media screen and (min-width: 1px) and (max-width: 767px) {

  .nav-sequence a span {
    display: none;
  }

}


/* ----------------------------------------

    フッター

   ---------------------------------------- */

/*
 * --- フッター ---
 */

#page-footer {
  width: 100%;
}


/*
 * --- ページの先頭へ ---
 */

#page-footer .to-page-top {
  margin-right: -20px;
  text-align: right;
}

#page-footer .to-page-top a {
  padding: 3px 10px 3px 4px;
  font-size: 10px;
  color: #FFFFFF;
  background-color: #546E7A;
  border-radius: 20px;
  position: relative;
  z-index: 2;
}

#page-footer .to-page-top a::before {
  content: '\e0fe';
  font-family: 'Metrize-Icons';
  margin-right: 5px;
  font-size: 14px;
  vertical-align: middle;
}

#page-footer .to-page-top a:hover {
  background-color: #FF9100;
}

#page-footer .to-page-top a:active {
  background-color: #E08000;
}


/* ----------------------------------------

    メインコンテンツ（.wiki-contentを囲む#page-content）

   ---------------------------------------- */

/*
 * --- 本文 ---
 */

#page-content {
  position: relative;
  overflow: hidden;
  margin: 0 30px 100px 300px;
  padding: 20px 40px 20px 40px;
  background-color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.status-menu-closed #page-content {
  margin-left: 40px;
}

/* --- XSサイズ --- */
@media screen and (min-width: 1px) and (max-width: 767px) {

  #page-content {
    margin-left: 10px !important;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
  #page-relation {
    margin-left: 10px !important;
  }

  .status-menu-closed #page-content {
    margin-left: 10px;
  }

}


/*
 * --- 見出し ---
 */

#page-content h2 {
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: bold;
}


/*
 * --- 箇条書き ---
 */

#page-content ol {
  list-style: none;
  counter-reset: numberList;
  margin: 20px 0 20px 0;
  padding: 0;
}

#page-content ol > li {
  position: relative;
  padding-left: 3em;
}

#page-content ol > li:before {
  content: counter(numberList);
  counter-increment: numberList;
  position: absolute;
  left: 0;
  width: 1.6em;
  height: 1.6em;
  line-height: 1.6;
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
  font-style: italic;
  color: #FFFFFF;
  background: #78909C;
  border-radius: 1em;
}


/*
 * --- 箇条書き 2段組み ---
 */

/*#page-content ol > li {
  display: inline-block;
  vertical-align: top;
  width: 45%;
}

#page-content ol > li:nth-child(odd) {
  margin-right: 5%;
}

#page-content ol > li:nth-child(even) {
  margin-left: 5%;
}*/

/* --- XSサイズ --- */
@media screen and (min-width: 1px) and (max-width: 767px) {

  #page-content ol > li {
    width: 100%;
    margin: 0;
    padding-left: 0;
    padding-top: 1em;
  }

  #page-content ol > li:before {
  }

}


/*=====================================================
    stellarlink 追記分
=======================================================*/ 

/*箇条書き*/
#page-content ol > li:nth-child(2n) {
  margin-left: 0 !important;
}

#page-content ol > li {
  padding-left: 2em !important;
}

#page-content ol.option01 > li:before {
  margin-top: -0.3em !important;
  font-size: 1.2em !important;
  font-family: default !important;
}

#page-content ol.option02 > li:before {
  margin-top: -0.15em !important;
}

#page-content ol.option01 > li {
}

#page-content ol table {
  font-weight: normal !important;
}

#page-content ol > li:before {
  content: counter(numberList)"." !important;
  color: #000 !important;
  background: none !important;
  font-family: default !important;
  font-style: normal !important;
  margin-top: -0.1em !important;
}

#page-content ol > li > ol > li:before {
  content: counter(numberList, lower-alpha)"." !important;
  color: #000 !important;
  background: none !important;
  font-family: default !important;
  font-style: normal !important;
}

#page-content ol > li > ol > li > ol > li:before {
  content: counter(numberList, lower-roman)"." !important;
  color: #000 !important;
  background: none !important;
  font-family: default !important;
  font-style: normal !important;
}

/*リンク*/
#page-footer .to-page-top a,
.nav-sequence a.available {
  background-color: #00749e;
}

.nav-sequence a.unavailable {
  background-color: #b8c7cc;
}

.nav-sequence {
  opacity: 1 !important;
}

#page-footer .to-page-top a:hover,
.nav-sequence a.available:hover {
  background-color: #00abeb;
  
}

#page-search button:hover,
#nav-menu-header a:hover {
  color: #00abeb;
}

#page-footer .to-page-top a:active,
.nav-sequence a.available:active {
  background-color: #0096cc;
  
}

#page-search button:active,
#nav-menu-header a:active {
  color: #0096cc;
}

#page-menu .nav-menu-list li.active a {
  color: #FFFFFF !important;
  background-color: #00abeb !important;
  white-space: nowrap;
}

#page-menu .nav-menu-list li a.active {
  color: #FFFFFF !important;
  background-color: #00abeb !important;
  border-radius: 4px;
}
.nav-breadcrumb > ol li a:hover {
  color: #00abeb;
}

/*サイドメニュー*/
#page-menu .nav-menu-list li.expanded a:hover {
  background-color: #D0D9E0;
}


/* - eof. */
