@charset "utf-8";

/*
 *
 * ===== wikiworks CSS =====
 *
 */


.wiki-content{
   word-break: normal;
}

/* ----------------------------------------

    title

   ---------------------------------------- */
.wiki-content h1 {
  margin: 0px 0  15px 0;
  font-weight:normal;
}

.wiki-content h2 {
  margin: 20px 0  15px 0;
  padding-bottom: 15px;
  font-size: 130%;
  border-bottom: 1px solid #333;
}
.wiki-content h3 {
  font-size:120%;
}
.wiki-content h4 {
  font-size:110%;
}
.wiki-content h5 {
  font-size:105%;
}




.panel, #content .panel{
  border:1px solid #ccc;
  background: #efefef;
}


/* ----------------------------------------

    img

   ---------------------------------------- */


/*.wiki-content img{
  max-width:100% !important;
  width: auto !important;
  border:none;
  height:auto;
}*/

/* ----------------------------------------

    search

   ---------------------------------------- */

.wiki-content .confluence-embedded-image {
  width: auto;
  max-width: 100%;
}


.wiki-content div.searchList{
  border-bottom:1px dotted #ccc;
  padding:20px 0;
}
.wiki-content div.searchList a{
  font-weight:bold;
}
.wiki-content em.highlight{
  background: #ffff00;
  color:#000;
}

/* ----------------------------------------

    table

   ---------------------------------------- */

.wiki-content div.table-wrap, 
.wiki-content div.gtable-wrap{
    padding:10px 0;
}
.wiki-content table.confluenceTable{
  border-top:1px solid #ccc;
  border-left:3px solid #ffffff;
  border-right:3px solid #ffffff;
  margin: 10px 0;
}

.wiki-content table.confluenceTable td,
.wiki-content table.confluenceTable th{
  border-bottom:1px solid #ccc;
  border-right:1px solid #ccc;
  padding:6px;
  vertical-align: top;
}
.wiki-content table.confluenceTable th{
  background: #efefef;
}

/* ----------------------------------------

    reference

   ---------------------------------------- */

.wiki-content div.reference{
    border:1px solid #224792;
    padding:2%;
    margin: 10px 0;
    color:#224792;
}
.wiki-content div.reference strong,
.wiki-content div.reference *{
    color:#224792  !important;
}
.wiki-content div.reference h5{
    font-weight:bold;
    color:#224792;
}


/* ----------------------------------------

    attention

   ---------------------------------------- */

.wiki-content div.attention{
    border:1px solid #cc0000;
    padding:2%;
    margin: 10px 0;
    color:#cc0000;
}
.wiki-content  div.attention *{
    color:#cc0000;
}
.wiki-content  div.attention h5{
    color:#cc0000;
}
